.container1{
    width:400px;
    margin:0px auto;
    padding:20px;
    border:1px solid #FFFFFF;
}

.logged-in {
    color: forestgreen;
    padding-top: 20px;
  }
  .account-balance-wrapper {
    padding: 40px;
    margin: 20px 0;
    border: 1px gray solid;
  }
  
.logged-out{

}

.container1{
    width:300px;
    margin:0 auto;
}

.text{
    width:100%;
    padding:10px;
}