#btn-returnToTop{
  position: fixed;
  bottom: 40px;
  right: 12px;
  display: none;
  z-index: 1;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}


.min-height{
    min-height:700px;
}

