<!-- footer -->
<div class="footer">
    <div class="container flexbox-start-between padt-50 padb-50">
        <div class="footer1">
            <div class="logo">
                <span class="fs-20 fw-900 whitecolor">Quản Lý Chung Cư Canva.com</span>
            </div>
            <p>
                Copyright ® 2019 Bilu Mới All Rights Reserved.
            </p>
        </div>
        <div class="footer2">
            <p style="font-size:18px">Điều Khoản Sử Dụng</p>
            <p>Chính Sách Riêng Tư</p>
            <p>Khiếu Nại Bản Quyền</p>
            <p>Giới Thiệu</p>
            <p>Liên hệ</p>
        </div>
        <div class="footer2">
            <p style="font-size:18px">Liên Hệ</p>
            <a routerLink="#" class="yellowcolor fs-16">Email: Canva.org@gmail.com</a><br />
            <a routerLink="#" class="bluecolor fs-16">FaceBook<i class="fab fa-facebook-square marl-3"></i></a><br>
            <a routerLink="#" class="fs-16" style="color:#1da1f2 !important">Twitter<i
                    class="fab fa-twitter-square marl-3"></i></a><br>
            <a routerLink="#" class="fs-16" style="color:#ff0000 !important">Youtube<i
                    class="fab fa-youtube marl-3"></i></a><br>
            <a routerLink="#" class="fs-16" style="color:#d30ca1 !important">Instagram<i
                    class="fab fa-instagram marl-3"></i></a><br>
        </div>
    </div>
</div>